<html>
    <head>
        <title>Simple file upload using Python Flask</title>
    </head>
    <body>
        <h3> Linear Regression Estimator</h3>
        <div>
            <form action="/handleUpload" method="post" enctype="multipart/form-data">
                Choose the file: <input type="file" name="photo"/><BR>
                Name of the Predicted field: <input type = "text" name = "fin-feature"> <BR>
                    <input type="submit" value="Upload"/><BR>    
            </form> 
        </div>
    </body>
</html>